<mat-card>
  <form (submit)='onSavePost(postForm)' #postForm='ngForm'>
    <mat-form-field>
      <input matInput type="text" name="title" #title='ngModel' [ngModel]='post?.title' required
        placeholder="Post title">
      <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput name="content" #content='ngModel' [ngModel]='post?.content' required placeholder="Post content"
        rows="4"></textarea>
      <mat-error *ngIf="content.invalid">Please enter a post content</mat-error>

    </mat-form-field>
    <button mat-raised-button type="submit" color='primary'>Save post</button>
  </form>
</mat-card>

<p>{{ newPost }}</p>
